[user]
    name = Mihai Cristescu
    email = mihai.cristescu@gmail.com

[pull]
    rebase = false

[core]
    longpaths = true
    pager = diff-so-fancy | less --tabs=4 -RFX
    editor = vim
    excludesfile = /Users/mihaicris/.gitignore_global

[merge]
    tool = code

[mergetool "code"]
    cmd = code --wait $MERGED

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[diff]
    tool = code

[difftool]
    prompt = false

[difftool "code"]
    cmd = code \"$LOCAL\" \"$REMOTE\" --diff --wait
    trustExitCode = false

[alias]
  # List alias commands
    la = "!git config -l | grep alias | cut -c 7-"
    list-alias = "!git la"

  # List commits in increasing detail
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lll = log -u

  # Most common diffs
    diffc = diff --cached HEAD^
    diffw = diff --color --word-diff

  # Committing 
    c = commit

  # Commit with message
    cm = "!cm() { git commit -m \"$1\"; }; cm" 

  # Ammend last commit
    ca = commit --amend --no-edit

  # Make new branch (or set branch to current commit)
    mb = checkout -B
  
  # Check out particular file ($2) form branch ($1) 
    cof = "!cof() { git checkout $1 -- $2; }; cof"

  # List branches for author
    rb = "!rb() { git for-each-ref --format='%(color:cyan)%(authordate:format:%m/%d/%Y %I:%M %p)  %(align:40,left)%(color:yellow)%(authorname)%(end)%(color:reset)%(refname:strip=3)' --sort=authordate refs/remotes | grep $1; }; rb"

  # Search 
    grep = grep -Ii

  # Search for files
    f = "!fs() { git ls-files --recurse-submodules | grep --color -i -E $1 ; }; fs"

  # Search for content
    s = "!fs() { git log -S$1 ; }; fs"  

  # How many commits per author
    who = shortlog -n -s --no-merges

  # Add executable to file
    addx = update-index --chmod=+x

    editor = interactive-rebase-tool
